*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "coiny", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  color: rgb(214, 214, 214);
  background-color: #1a2844;
  max-width: 750px;
  width: 80%;
  margin: 1rem auto;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(36, 36, 36, 0.2);
  z-index: 10;
  display: none;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 18px;
}

.options__score-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 8px;
}

.options__x-score,
.options__o-score {
  color: rgb(214, 214, 214);
  display: flex;
  align-items: center;
  padding: 0.75rem 0.75rem;
  background-color: rgb(51, 65, 85);
  flex: 0 1 auto;
  z-index: 11;
  user-select: none;
  border-radius: 0.4rem;
}

.options span {
  padding-left: 8px;
}

.options__difficultySettings {
  display: flex;
  margin: 2rem 0 1rem 0;
  z-index: 11;
  flex: 0 2 auto;
}

.options__dropdown {
  position: relative;
  user-select: none;
  z-index: 2;
  margin: 0;
  padding: 0;
  z-index: 11;
  flex: 0 0 auto;
}

.options__select {
  color: rgb(214, 214, 214);
  display: flex;
  align-items: center;
  padding: 0.75rem 1.75rem;
  background-color: rgb(51, 65, 85);
  cursor: pointer;
  transition: background-color 0.3s;
  width: 110px;
  z-index: 11;
  user-select: none;
}

.options__select:hover {
  background-color: rgb(52, 71, 90);
}

.options__caret {
  width: 0;
  height: 0;
  margin-left: 6px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid rgb(214, 214, 214);
  transition: 0.3s;
}

.--rotate {
  transform: rotate(180deg);
}

.options__menu {
  position: absolute;
  text-decoration: none;
  list-style: none;
  user-select: none;
  cursor: pointer;
  background-color: #3b4b6a;
  margin: 0;
  padding: 0;
  display: none;
  outline: none;
  & li {
    padding-left: 8px;
    width: 110px;
    &:hover {
      font-size: 105%;
      background-color: #263450;
    }
    &:focus {
      background-color: #263450;
    }
    &:focus-within {
      background-color: transparent;
    }
  }
}

.new-game {
  text-align: center;
  margin: 1rem 0 0 0;
  & :hover {
    color: rgba(90, 192, 30, 0.705);
    font-size: 105%;
  }
}

.new-game__btn {
  font-family: "coiny", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  color: rgb(214, 214, 214);
  border: none;
  margin: 0;
  text-decoration: none;
  background: none;
  font-size: 1em;
  cursor: pointer;
  user-select: none;
}

a {
  text-decoration: none;
  color: aliceblue;
}
.--active {
  display: block;
}

.gameGridContainer {
  display: grid;
  content: " ";
  min-height: 50dvh; /* dynamic viewport */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3vh;
  grid-template-areas:
    "zero one two"
    "three four five"
    "six seven eight";
}

.gameGridContainer__square {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(216, 216, 216, 0.529);
  overflow: hidden;
}

.gameGridContainer__square span {
  position: absolute;
  font-size: 30vw;
  user-select: none;
  z-index: 1;
}

.gameGridContainer__square:hover {
  cursor: pointer;
  background-color: rgb(51, 65, 85);
  transition: 0.25s ease-in;
}

#zero {
  grid-area: zero;
}
#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}

@media (min-width: 890px) {
  .gameGridContainer__square span {
    font-size: 20vh;
  }
}

@media (max-width: 330px) {
  .options__score-wrapper {
    position: relative;
  }
  .options__o-score {
    position: absolute;
    top: 68vh;
    left: -60vw;
  }
  .options__x-score {
    position: absolute;
    top: 68vh;
    left: -30vw;
  }
}
