@font-face {
  font-family: "Coiny";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Coiny"),
    url("../src/fonts/coiny-regular-webfont.woff") format("woff"),
    url("../src/fonts/coiny-regular-webfont.woff2") format("woff2");
}

:root {
  --font-family: "Coiny", "Gill Sans", "Gill Sans MT", "Calibri", "sans-serif";
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-family);
  color: rgb(214, 214, 214);
  background-color: hsl(215deg, 28%, 15%);
  margin: 1rem auto;
  max-width: 40vw;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.07);
  background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(8, 10, 43, 0.4));
  background-repeat: no-repeat;
  z-index: 5;
  display: none;
}

.options__difficultySettings {
  display: flex;
  margin: 1rem 0 0.8rem 0;
  z-index: 6;
  flex: 0 2 auto;
}

.options__dropdown {
  position: relative;
  user-select: none;
  z-index: 6;
}

.options__select {
  color: rgb(214, 214, 214);
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  background-color: rgb(51, 65, 85);
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 6;
  user-select: none;
}

.options__select:hover {
  background-color: rgb(52, 71, 90);
}

[data-selected="true"]{    
color:rgba(173, 192, 205, 0.533);
font-size: 105%;

}

.options__caret {
  width: 0;
  height: 0;
  margin-left: 6px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid rgb(214, 214, 214);
  transition: 0.3s;
}

.options__menu {
  position: absolute;
  text-decoration: none;
  list-style: none;
  user-select: none;
  cursor: pointer;
  background-color: #3b4b6a;
  margin: 0;
  padding: 0;
  display: none;
  outline: none;
  z-index: 6;
  width: 100%;
  & li {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    &:hover,
    a:hover {
      font-size: 105%;
      background-color: #263450;
    }
    &:focus {
      background-color: #263450;
    }
  }
}

a {
  text-decoration: none;
  color: aliceblue;
}

.--active {
  display: block;
}

.--rotate {
  transform: rotate(180deg);
}

.score-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: #334155;
  border-radius: 10px;
  & .score-wrapper__wins,
  .score-wrapper__losses {
    color: rgb(214, 214, 214);
    flex: 1 1 auto;
    user-select: none;
    border-radius: 5px;
  }
  & .score-wrapper__wins {
    background-color: rgba(0, 128, 0, 0.533);
    border-radius: 5px 0 0 5px;
  }
  & .score-wrapper__losses {
    background-color: #d20f0f;
    border-radius: 0 5px 5px 0;
  }
}

.gameGridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3vh;
  grid-template-areas:
    "zero one two"
    "three four five"
    "six seven eight";
}

.gameGridContainer__square {
  background-color: rgb(51, 65, 85);
}

.gameGridContainer__square img {
  user-select: none;
}

@keyframes winLossBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* if humanPlayer.symbol is "x" */
.--humanPlayerSymbol-x .gameGridContainer__square img[data="empty"]:hover {
  background-image: url("../src/svg/x.svg");
}
/* if humanPlayer.symbol is "o" */
.--humanPlayerSymbol-o .gameGridContainer__square img[data="empty"]:hover {
  background-image: url("../src/svg/o.svg");
}

// winner userPlayer.symbol = "o"

.gameGridContainer__square.--winner img[data="o"] {
  animation: winLossBlink 1s 3;
  filter: brightness(0) saturate(100%) invert(22%) sepia(63%) saturate(1055%)
    hue-rotate(87deg) brightness(87%) contrast(92%);
}

// winner userPlayer.symbol = "x"
.gameGridContainer__square.--winner img[data="x"] {
  animation: winLossBlink 1s 3;
  filter: brightness(0) saturate(100%) invert(22%) sepia(63%) saturate(1055%)
    hue-rotate(87deg) brightness(87%) contrast(92%);
}

// loser cpuPlayer.symbol = "o"
.gameGridContainer__square.--loss img[data="o"] {
  animation: winLossBlink 1s 3;
  filter: brightness(0) saturate(100%) invert(22%) sepia(100%) saturate(2593%)
    hue-rotate(348deg) brightness(78%) contrast(115%);
}
//loser cpuPlayer.symbol = "x"
.gameGridContainer__square.--loss img[data="x"] {
  animation: winLossBlink 1s 3;
  filter: brightness(0) saturate(100%) invert(22%) sepia(100%) saturate(2593%)
    hue-rotate(348deg) brightness(78%) contrast(115%);
}

.gameGridContainer__square:hover {
  cursor: pointer;
  transition: 0.35s ease-in;
  background-color: rgb(73, 95, 120);
}

#zero {
  grid-area: zero;
}
#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}

.restart-game {
  text-align: center;
  margin: 1rem 0 0 0;
  & :hover {
    color: rgba(92, 30, 192, 0.838);
    filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.5));
    font-size: 103%;
  }
}

.restart-game__btn {
  font-family: var(--font-family);
  color: rgb(214, 214, 214);
  border: none;
  margin: 0;
  text-decoration: none;
  background: none;
  font-size: 1em;
  cursor: pointer;
  user-select: none;
}

@media (max-width: 600px) {
  body {
    max-width: 50vw;
  }
  .options__difficultySettings {
    margin: 0rem 0 0.5rem 0;
  }
  .score-wrapper {
    margin: 0 0 0.5rem 0;
  }
  .score-wrapper {
    font-size: 1.2rem;
  }
}
@media (max-width: 530px) {
  body {
    max-width: 60vw;
  }
}
@media (max-width: 500px) {
  body {
    max-width: 70vw;
  }
}

@media (max-width: 400px) {
  body {
    max-width: 80vw;
  }
}

@media (max-width: 260px) {
  body {
    max-width: 90vw;
  }
  .score-wrapper span {
    padding-left: 8px;
  }
  .score-wrapper {
    font-size: 1rem;
  }
}

@media (max-width: 185px) {
  body {
    max-width: 100vw;
  }
  .score-wrapper span {
    padding-left: 0px;
  }
}
